#calculator {
    width: 40%;
    text-align: center;
    margin-top: 130px;
    margin-left: 490px;
    background-color: #cfcdcd;
    padding: 15px;
    border-radius: 7%;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

#values {
    display: flex;
}
#value1 {
    text-align: center;
    margin-left: 100px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, .5);
}
#value2 {
    text-align: center;
    margin-left: 40px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, .5);
}

#calc {
    display: flex;
    margin-top: 50px;
    margin-left: 60px;
}

button {
    width: 70px;
    padding: 15px;
    font-size: 40px;
    margin-left: 50px;
    border: none;
    box-shadow: 2px 2px 4px;
}
button:hover {
    background-color: #000;
    color: #fff;
}

#result {
    margin-top: 50px;
}
#result-value {
    text-align: center;
    color: red;
    width: 300px;
    height: 50px;
    border: none;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, .5);
}

#ingenuity {
    margin-top: 50px;
    background-color: rgb(145, 235, 238);
}
